@font-face {
  font-family: 'Cent';
  src: url('fonts/Cent.eot');
  src: url('fonts/Cent.eot?iefix') format('eot'),
       url('fonts/Cent.ttf') format('truetype');
}

html, body, #window{
    background: black;
}
h2.name {
    font-family: 'Cent';
    text-align: center;
    color: white;
}
#canvas{
    background: black; 
    margin: auto; 
    display: block;
}
.img-responsive{
    margin: auto;
}